/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*/

@font-face {
    font-family: Roboto;
    src: url(fontovi/Roboto-Regular.ttf);
}
@font-face {
    font-family: Abel;
    src: url(fontovi/Abel-Regular.ttf);
}

body {
    width: 60%;
    min-width: 750px;
    margin: 0 auto;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

header {
    background-image: url(slike/banner.jpg);
    width: 100%;
    height: 300px;
}

.banner-tekst {
    z-index: 2;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-top: 220px;
    font-family: 'Abel', sans-serif;
}

nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    /*padding: 15px;*/
    background-color: #3D5A80;
    text-align: center;
}

nav > ul {
    margin: 0;
    padding: 15px;
    margin-right: -5px;
}

.navbar {
    display: inline;
}

.navigacija {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}


.navigacija:hover {
    background-color: #5D79A1;
    
    /* 
    #A2ACBD
    #3D5A80 bdazzled blue
#98c1d9 pale cerulean
#e0fbfc	light cyan
#ee6c4d	burnt sienna
#293241	gunmetal

#DCE1E3 lighter grey
    */
}


footer {
    background-color: #293241;
    color: #fff;
    padding: 10px;
	text-align: center;
	line-height: 200%;
	font-size: 20px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    margin-top: 300px;

}

#img-autor {
    float: left;
    margin-left: 5em;
    margin-right: 10em;
}

#tab-autor {
    margin-top: 150px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.slika-planine-grid {
    width: 370px;
    height: 270px;
}

.galerija-filtracija {
	background-color: #DCE1E3;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.slika-planine {
    width: 800px;
    position: relative;
    left: 15%;
}

h1 {
text-align: center;
font-size: 45px;
}

.naslov-planina {
    text-align: center;
    font-size: 45px;
}

#prijava {
    margin-left: 33%;
    margin-right: 33%;
    padding: 40px;
    background-color: #DCE1E3;
    border-radius: 5px;

}

.unos {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.prijava_submit {
    width: 97%;
    
    margin-top: 10px;
    
}

.gumb:hover{
    background-color: #6F7788;
    cursor: pointer;
    color: #f5f5f5;
}

.gumb{
    border:none;
    border-radius: 5px;
    background-color: #a2acbd;
    color: #333;
    padding: 10px;

}

.greska {
    position: relative;
    padding-left: 10%;
    color: red;
}

.uspjeh {
    position: relative;
    padding-left: 10%;
    color: green;
}

.slika-popis {
    width: 200px;
    
}

.slika-azuriraj {
    width: 300px;
    margin-right: 3em;
}


table {
	/* background-color: #98c1d9; */
	font-size: 16px;

    
}

.parni {
	background-color: #e0fbfc;
}

thead {
	background-color: #98c1d9;

}

th {
    border-bottom: 5px solid #333;
 
}

tbody > tr:nth-child(even) {
	background-color: #DCE1E3;
}

td {
    padding-left: 5px;
}

@media(max-width: 1600px) {
    .container {
        grid-template-columns: 1fr 1fr; 
    }
}
