@font-face {
    font-family: Roboto;
    src: url(fontovi/Roboto-Regular.ttf);
}

@font-face {
    font-family: Abel;
    src: url(fontovi/Abel-Regular.ttf);
}

body {
    width: 60%;
    min-width: 750px;
    margin: 0 auto;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

header {
    background-image: url(slike/banner.jpg);
    width: 100%;
    height: 300px;
}

.banner-tekst {
    z-index: 2;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-top: 220px;
    font-family: 'Abel', sans-serif;
}

nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: #3D5A80;
    text-align: center;
}

nav > ul {
    margin: 0;
    padding: 15px;
    margin-right: -5px;
}

.navbar {
    display: inline;
}

.navigacija {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.navigacija:hover {
    background-color: #5D79A1;
}

footer {
    background-color: #293241;
    color: #fff;
    padding: 10px;
	text-align: center;
	line-height: 200%;
	font-size: 20px;
    margin-top: 100px;
    margin-bottom: 0;
    clear: both;
}

#main {
    min-height: calc(100vh - 349px - 180px);
}

#img-autor {
    float: left;
    margin-left: 5em;
    margin-right: 10em;
}

#tab-autor {
    margin-top: 150px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.slika-planine-grid {
    width: 370px;
    height: 270px;
}

.galerija-filtracija {
	background-color: #DCE1E3;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.dodaj-azuriraj {
    width: 80%;
    margin-left: 10em;
}

textarea {
    font-family: Roboto;
    resize: vertical;
    min-height: 100px;
    max-height: 500px;
}

.tablica-dodaj {
    margin-left: 15%;
}

.tablica-dodaj > tbody > tr:nth-child(even) {
	background-color: #f5f5f5;
}

option {
    font-size: 1.1em;
}

.slika-planine {
    width: 800px;
    position: relative;
    left: 15%;
    margin: 0 auto;
}

h1 {
text-align: center;
font-size: 45px;
}

.naslov-planina {
    text-align: center;
    font-size: 45px;
}

#prijava {
    margin-left: 33%;
    margin-right: 33%;
    padding: 40px;
    background-color: #DCE1E3;
    border-radius: 5px;
}

.unos {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.prijava_submit {
    width: 97%;
    margin-top: 10px;
}

.gumb{
    border:none;
    border-radius: 5px;
    background-color: #a2acbd;
    color: #333;
    padding: 10px;
}

.gumb:hover{
    background-color: #6F7788;
    cursor: pointer;
    color: #f5f5f5;
}

.gumb-pocetna {
    margin-top: 1em;
    background-color: #3D5A80;
    color: #f5f5f5;
    padding: 1em;
    border: none;
    border-radius: 5px;
    
}

.gumb-pocetna:hover {
    background-color: #5D79A1;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: linear;
}

.popis-korisnika-gumb {
    margin-right: 1em;
    margin-bottom: 2em;
}

.greska {
    position: relative;
    padding-left: 10%;
    color: red;
}

.uspjeh {
    position: relative;
    padding-left: 10%;
    color: green;
}

.pocetna-sadrzaj {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto; 
    text-align: center;
}

.pocetna-sadrzaj-stavka {
    width: 315px;
    height: 155px;
}

.slika-popis {
    width: 200px;
}

.slika-korisnika {
    width: 300px;
}

.slika-azuriraj {
    width: 400px;
    margin-right: 3em;
    margin-bottom: 1em;
}

#filter-tablica {
    background-color: #f5f5f5;
}

.tablica-opis-slike {
    margin-top: 3em;
    border: 2px #DCE1E3 solid;
    margin: 0 auto;
    max-width: 80%;
}

.tablica-opis-slike > tbody > tr > td {
    padding: 8px;
}

.tablica-opis-slike > tbody > tr:nth-child(odd) {
	background-color: #DCE1E3;
}

#tablica-popis-planina {
    margin: 0 auto;
}

#tablica-popis-planina > tbody > tr > td{
    padding: 1em;
}

#tablica-planine-moderatora {
    margin: 0 auto;
}

#tablica-planine-moderatora > tbody > tr > td{
    padding: 10px;
}

#tablica-popis-slika-korisnika {
    margin: 0 auto;
}

#tablica-popis-slika-korisnika > tbody > tr > td {
    padding-right: 8px;
}

table {
	font-size: 16px;
}

.tablica-popis-slika-korisnika {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;    
}
  
#slika-slika {
    width: 22%;
}
#slika-naziv {
    width: 12%;
}

#slika-opis {
    width: 30%;
}

#slika-dat {
    width: 15%;
}

#slika-status {
    width: 8%;
    text-align: center;
}

#slika-azuriraj {
    width: 7%;
}

thead {
	background-color: #93a3b8;
}

th {
    border-bottom: 3px solid #333;
    padding: 8px;
}

tbody > tr:nth-child(even) {
	background-color: #DCE1E3;
}

td {
    padding-left: 5px;
}

@media(max-width: 1600px) {
    .container {
        grid-template-columns: 1fr 1fr; 
        margin-left: 10%;
    }
    .slika-planine-grid{
        width: 400px;
    }
    body {
        width: 80%;
    } 
}
